<% title(@partyevent.name, "Partyevents")%>
<h2> <%= @partyevent.name %></h2>

<%= admins_only do %>
	<%= link_to "Edit Partyevent", edit_partyevent_path(@partyevent)%>
	<%= link_to "Delete Partyevent", @partyevent, :method => :delete, :confirm => "Are you sure you want to delete this project?" %>
<% end %>

<%= link_to "New Partydetail", new_partyevent_partydetail_path(@partyevent) %>

<ul id="partydetails">
	<% @partyevent.partydetails.each do |partydetail| %>
		<li>
			#<%= partydetail.id %> - <%= link_to partydetail.title, [@partyevent, partydetail]%>
		</li>
	<% end %>
</ul>