<!DOCTYPE html>
<html>
<head>
  <title>
  	<% if content_for?(:title)%>
		<%= yield(:title) %>
	<% else %>
		Partydetail
	<% end %>
  </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1><%= link_to "Partybushost", root_path %></h1>

<nav>
	<!-- Method provided by Devise -->
	<% if user_signed_in? %>
		Signed in as <%= current_user.email %>
	<% else %>	
		<%= link_to "Sign up", new_user_registration_path %>
		<%= link_to "Sign in", new_user_session_path %>
	<% end %>
	
	<%= admins_only do %>
		<%= link_to "Admin", admin_root_path %><br>
	<% end %>
</nav>

<%= yield %>

<% flash.each do |key, value| %>
	<div class = 'flash' id='<%= key %>' >
		<%= value %>
	</div>
<% end %>

</body>
</html>
