<!DOCTYPE html>
<html>
<head>
  <title>
  	<% if content_for?(:title)%>
		<%= yield(:title) %>
	<% else %>
		Partydetail
	<% end %>
  </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<% flash.each do |key, value| %>
	<div class = 'flash' id='<%= key %>' >
		<%= value %>
	</div>
<% end %>

</body>
</html>
